.div-btn-telecharger {
  display: flex;
  justify-content: center;
  width: fit-content;
  margin-left: auto;
  margin-right: auto;
}

#btn-upload {
  background-color: #fca130;
}

#btn-download {
  background-color: #4795da;
}

.button-icons {
  margin-left: 2px;
  margin-right: 2px;
  padding: 4px;
  border: 2px solid rgb(202, 201, 201);
  border-radius: 8px;
  color: white;
  width: 40px;
}
