#btn-valider {
  background-color: #69c46f;
}

#btn-livrer {
  background-color: #fca130;
}

.DemandeAfficheAll #popup-table tbody tr {
  transition: all 0.5s;
}

.DemandeAfficheAll #popup-table thead th,
.DemandeAfficheAll #popup-table tbody td {
  border: 1px solid #818181;
}

.DemandeAfficheAll #popup-table th {
  color: #185d99;
  background-color: #d6d6d6;
}
.DemandeAfficheAll #popup-table td {
  color: black;
}

.DemandeAfficheAll #popup-table tbody tr {
  background-color: #f5f5f5;
}

.DemandeAfficheAll #popup-table tbody tr:nth-child(even) {
  background-color: white;
}

.DemandeAfficheAll #popup-table tbody tr:hover {
  background-color: #818181;
}

.DemandeAfficheAll .div-popup input[type="number"] {
  width: 90%;
  padding-left: 10px;
}
