.refresh-icon {
  font-size: 20px;
  color: black;
  border: 1px solid rgb(202, 201, 201);
  border-radius: 20%;
  padding: 5px;
  background-color: rgb(238, 238, 238);
  height: 30px;
  width: 30px;
}

.tab_le {
  border-collapse: collapse;
  width: 100%;
  margin: 2rem 0;
}
.tab_le th,
.tab_le td {
  padding: 0.5rem;
  border: 1px solid rgb(202, 201, 201);
}

.tab_le #th-Center {
  text-align: center;
}

.tab_le tr {
  transition: background-color 0.3s;
}

.tr-ListProduit {
  background-color: #f5f5f5;
}

.tr-ListProduit:nth-child(even) {
  background-color: white;
}

.tr-ListProduit:hover {
  background-color: rgb(202, 201, 201);
}

.tab_le h5,
.table h5 {
  font-size: 20px;
  font-weight: 650;
}

.sousTitre {
  color: #185d99;
  background-color: rgb(238, 238, 238);
}

#tdQte {
  width: 6%;
}

#tdObs {
  width: 15%;
}

#btnSup {
  background-color: #ca1d1d;
}

#btnAjt {
  background-color: #185d99;
}

select,
input {
  width: 100%;
  border: 1px solid rgb(202, 201, 201);
  border-radius: 5px;
}
.button-ajouter {
  width: auto;
  padding: 4px;
  border: 2px solid rgb(202, 201, 201);
  border-radius: 8px;
  color: white;
  width: 100%;
}

.enregistrer {
  background-color: rgb(238, 238, 238);
  text-align: right;
  padding: 10px;
  margin-bottom: 8px;
}
.enregistrer-button {
  width: 100%;
  padding: 8px;
  border: 2px solid rgb(202, 201, 201);
  border-radius: 8px;
  background-color: #185d99;
  color: white;
}

.div-popup-back {
  position: fixed;
  top: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.7);
  animation: 1s anim-lineUp ease-out 0s;
}

.div-popup {
  text-align: center;
  border: 10px solid #76787a;
  width: 70%;
  background-color: #185d99;
  border-radius: 5px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 10%;
}

.div-popup h4,
.div-popup h3 {
  color: white;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.3);
}

#popup-table {
  margin-left: auto;
  margin-right: auto;
  width: 70%;
}

#popup-table td {
  padding: 10px;
}

#popup-file,
#popup-print,
#popup-done,
#popup-cancel {
  width: 100%;
  border-radius: 5px;
  border: 2px solid #dee2e6;
  color: black;
}

#popup-file {
  background-color: white;
}

#popup-done {
  color: white;
  border-color: black;
  background-color: #4795da;
}

#popup-print svg {
  margin-right: 10px;
}

.div-print {
  margin-top: 10%;
  margin-left: auto;
  margin-right: auto;
  width: 75%;
}

.table-print-BLF td,
.table-print-BE td {
  padding: 0.5rem;
}

.table-print-PL {
  border: 2px solid black;
}

.table-print-PL td,
.table-print-PL th {
  padding: 0.5rem;
  border: 1px solid black;
}

.table-print-PL th {
  text-align: center;
}

.table-print-PL #th-Center {
  text-align: center;
}

@keyframes anim-lineUp {
  0% {
    opacity: 0;
    transform: translateY(-30%);
  }
  25% {
    opacity: 0;
  }
  70% {
    opacity: 1;
    transform: translateY(0%);
  }
  100% {
    opacity: 1;
  }
}

.table td {
  border-bottom: none;
}

.table td input[type="radio"] {
  width: 5rem;
}

.table td input[type="text"],
.table td input[type="number"],
.table td select {
  width: 25rem;
  border: 1px solid rgb(202, 201, 201);
  border-radius: 5px;
  padding-top: 5px;
  padding-bottom: 5px;
  padding-left: 10px;
  padding-right: 10px;
  transition: all 0.5s;
}

.table th,
.table td {
  font-weight: 700;
  font-size: 15px;
  width: 10%;
}
table thead,
table tbody {
  border: 1px solid rgb(202, 201, 201);
}
